/* Inicio diseños generales*/
html {
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: rgb(235, 233, 233);
}


body {
    height: 100vh;
    margin: 0%;
}
/* Cambio de acceder para que aparezca el usuario */
#submit {
    display: flex;
    background-color: #7223A5;
    transition: all 0.5s ease-in-out;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    width: 140px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    align-items: center;
}

.iniciales_user {
    text-decoration: none !important;
    display: flex;
    width: 31px;
    height: 30px;
    background-color: #a370f0;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: auto;
}

#acceder a {
    text-decoration: none !important;
    display: flex;
    margin-right: 4px;
    align-items: center;
}


#acceder .nombre_user {
    margin-right:4px ;
}

/* Fin inicio */
main {
    margin-top: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.contenedorMaterial {
    display: flex;
}

.check {
    color: green;
}

.ruta {
    color: #3B1EBD;
    margin-top: 25px;
    margin-left: 8%;
}

.ruta span {
    margin-left: 6px;
    margin-right: 6px;
}

.temasClases {
    margin-left: 40px;
}

ul li,
summary {
    list-style: none;
    color: #626162;
}

summary {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 41px;
    color: #626162;
}

summary::before {
    content: '+';
    padding-right: 0.5rem;
}

.temas {

    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 29px;
    color: #727172;

}

.temas .bolder {
    font-weight: 300;
    font-size: 15px;
    line-height: 29px;
    color: #727172;
}


details[open] summary::before {
    content: '-';
}


/* Parte de vista videos */

.vistaDescripcion {
    height: 717px;
    width: 1000px;
    overflow-y: auto;
    margin-bottom: 23px;
} 


.transcrip {
    margin-top: 15px;
    margin-bottom: 25px;
    color: #3d3d3d;
}

.vistaDescripcion .titulo {
    margin: auto;
    margin-top: 4px;
    margin-bottom: 29px;
    color:  #3d3d3d;
}

.transcripcion p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;
    color: #3b3b3b;
    margin-right: 20px;
}

.vistaDescripcion article {
    display: flex;
}

.vistaDescripcion .video {
    justify-content: center;
}

/* Barra de movimiento */
.vistaDescripcion::-webkit-scrollbar {
    width: 12px;
}

.vistaDescripcion::-webkit-scrollbar-track {
    background-color: #d1cdcd;
    border-radius: 10px;
}

.vistaDescripcion::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a7a1a1;
}

/* Menu del responsive */
main .toggle_temasClases{
    /* position: absolute;
    z-index: 1; */
    font-size: 22px;
    padding: 0px 0px 21px 10px;
    cursor: pointer;
    display: none;
    color: #CF3DE7;
    
}

/* mediaqueri  con tablet y celular*/
@media screen and (max-width: 800px) {
    /*  usuario*/
    .caja_user{
        background-color: #432da7 ; 
        display: flex ;
        align-items: center;
    }
    #acceder a {
        text-decoration: none !important;
        display: flex;
        margin-right: 4px;
        align-items: center;
    }
    
    
    #acceder .nombre_user {
        margin-right:4px ;
    }
    
    /* Ruta */
    .ruta {
        color: #3B1EBD;
        margin-top: 25px;
        margin-left: 0;
    }
    /* Temas clases  */
    main {
        flex-direction: column;
    }

    main .toggle_temasClases{
        display: block; 
        margin-left: 0px;  
    }
    main .temasClases{
        display: none; 
    }

    main .temasClases--show{
        display: block;
    }
    /* Vista video  */
    .vistaDescripcion {
        height: 670px;
        width: 100%;
    }


}