/* Inicio diseños generales*/
html {
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: rgb(235, 233, 233);
}

*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0%;
}

/*Fin diseños generales*/

/* Comienzo del Header/Nav */

nav {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}

nav a {
    text-decoration: none;
    color: #7223A5;
}

nav a:hover {
    text-decoration: underline 3px;
}

.logo {
    font-weight: bolder;
    font-size: 1.8em;
    color: #7223A5;
}

.submit {
    background-color: #7223A5;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    width: 140px;
    height: 40px;
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    background-color: #166bda;
    transition: all 200ms;
}

/* Fin del Header/Nav */

/* Inicio del Main */

.cont-form{
    display: flex;
    flex-direction: row;
    
}











/* Fin del Main */

/* Comienzo del Footer */


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background-color: #282727;
}


.foot{
    height: 200px;
    width: 400px;
    text-align: center;
    color: #9F4DD4;
    font-size: 1.3em;
}


hr{
   margin: auto;
    height:18vh;
    width:.1vw;
    border-width:0;
    color:#634f67;
    background-color:#72476c;
}


.fa-brands{
    color: #fff;
    font-size: 1.8em;

}

.fa-brands:hover{
    color: #969696;
}

.foot a{
  margin-right: 5px;
    color: #fff;
}

.foot a:hover{
    color: #a2a2a2;
}

.red{
    height: 30px;
    width: 30px;
}



/* Fin del Footer */