/*Inicio diseños generales*/
html {
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  background-color: rgb(235, 233, 233);
}


/*Fin diseños generales*/

/* Comienzo del Header/Nav */

nav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 25px;
}

nav a {
  text-decoration: none;
  color: #7223A5;
}

nav a:hover {
  text-decoration: underline 3px;
}

.logo {
  font-weight: bolder;
  font-size: 1.8em;
  color: #7223A5;
}

.submit {
  background-color: #7223A5;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  width: 140px;
  height: 40px;
  color: #fff;
  cursor: pointer;
}

.submit:hover {
  background-color: #166bda;
  transition: all 200ms;
}

/* Fin del Header/Nav */

/* Aquí definimos las Custom properties */

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}



:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(190, 19, 241);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}




* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}


img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
  margin-right: ;
}



li {
  list-style-type: none;
}




::selection {
  background-color: var(--negro);
  color: var(--blanco);
}



.carrousel {
  margin-top: 20px;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}

.cont-login {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: calc(70% / 2);
  height: 600px;
  border-radius: 3%;
  background-color: white;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: white;
  border-radius: 3%;
  box-shadow: 7px 4px 28px 8px rgb(168, 168, 168);
}

.presentacion {
  background: linear-gradient(90.37deg, #7223A5 27.73%, #2D23A5 57.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  margin-top: 60px;
  font-size: 2em;
  text-align: center;
}

.presentacion1 {
  margin-top: 40px;
  font-size: 2em;
  text-align: center;
  color: rgb(186, 186, 186);
}

.logeo {
  margin-top: 50px;
  width: 50%;
  height: 50px;
  border: solid 1px black;
  font-size: 1.5em;

}




.registrate {
  background: linear-gradient(to bottom, #2F1C7F, #7428A8);
  width: 50%;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 3%;
  -webkit-box-shadow: 7px 4px 28px 8px rgba(84, 84, 84, 1);
  -moz-box-shadow: 7px 4px 28px 8px rgba(84, 84, 84, 1);
  box-shadow: 7px 4px 28px 8px rgba(84, 84, 84, 1);
}


h2 {
  font-size: 4em;
  margin-top: 140px;
  text-align: center;
  color: #fff;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 100;
}


.question {
  font-size: 2em;
  margin-top: 100px;
  color: #fff;
  text-align: center;
}

.carrousel .grande {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 0px;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc(100% / 2 - 2em);
  min-height: 10vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: rgb(222, 60, 222);
}



/* Comienzo del Footer */


footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  width: 100%;
  height: 200px;
  background-color: #282727;
}


.foot {
  height: 200px;
  width: 400px;
  text-align: center;
  color: #9F4DD4;
  font-size: 1.3em;
}


hr {
  margin: auto;
  height: 18vh;
  width: .1vw;
  border-width: 0;
  color: #634f67;
  background-color: #72476c;
}


.fa-brands {
  color: #fff;
  font-size: 1.8em;

}

.fa-brands:hover {
  color: #969696;
}

.foot a {
  margin-right: 5px;
  color: #fff;
}

.foot a:hover {
  color: #a2a2a2;
}

.redes {
  margin-bottom: 20px;
  margin-top: 20px;
}

.red {
  height: 30px;
  width: 30px;
}


/* Fin del Footer */