html{
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: rgb(235, 233, 233);
}

body{
    margin: 0%;
}

/* Comienzo del Header/Nav */


nav{ 
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
   
}

nav a{
    text-decoration: none;
    color: #7223A5;
}

nav a:hover{
    text-decoration: underline 3px;
}

.logo{
    font-weight: bolder;
    font-size: 1.8em;
    color: #7223A5;
}

.submit{
    background-color: #7223A5;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;;
    height: 30px;
    color: #fff;
}

.submit:hover{
    background-color: #166bda;
}
   
/* Fin del Header/Nav */

/* Comienzo del Main/Body */


main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.img{
    height: 600px;
    width: 600px;
   
}

.presentacion{
    width: 450px;
}


.pres1{
    font-weight: bolder;
    font-size: 3.8em;
    color: #b3b3b3;
}

span{color:#7223A5}

.pres2{
    color: #969696;
    margin: 0px;
    font-size: 1.8em;
}

h1{text-align: center;
color: #696969
}

.cont-interes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around
}

.interes{
    height: 500px;
    width: 500px;

}
.numero{
    
    
    
} 
 


h3{

    text-align: center;
}

.comentario{
    text-align: center;
    font-size: 1.3em;
    color: #969696;
}