@media(min-width:280px) and (max-width: 600px) {
    .cont-target-top {
        display: flex;
        flex-direction: column;
        margin: 0%;
        padding: 0%;
    }

    .cont-target-bot {
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 0%;
    }

    .tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;

    }

}