
@media(min-width: 300px)and (max-width:450px){
    .info{
        height: 50vh;
    }
    main section .infoPrincipal .tittle h1{
        font-size: 20px;
    } 
    main section .infoPrincipal .subtittle{
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    main section .infoPrincipal .textito h3{
        font-size: 16px;
        padding: 0;    
       
    }
    .cartas .container-cards{
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        justify-content: center;
        align-items: center;
    }
  


}
@media(min-width: 450px)and (max-width:600px){
    *{
        box-sizing: border-box;
       /*  justify-content: center; */
        
    }  
    main section .infoPrincipal{
        margin: 0;
        padding: 0;
        height: 35vh;
    } 
    main section .infoPrincipal .tittle h1{
        font-size: 18px;
    } 
    main section .infoPrincipal .subtittle{
        font-size: 14px;
        margin-top: 10px;
        padding: 0;
    }
    main section .infoPrincipal .textito h3{
        font-size: 14px;
        padding: 0;    
        margin-top: .5em; 
    }
    .cartas .container-cards{
        width: 100%;
        margin: 0;
        display: block;
        justify-content: center;
        align-items: center;
    }
    section .cards{
        padding: 0px;
    }    
    .info .infoPrincipal .textito {

        padding-top: 0px;
       
    }
}

@media (min-width:600px) and (max-width:900px){
    main section .infoPrincipal{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 40vh;
    } 
    main section .infoPrincipal .tittle h1{
        font-size: 30px;    
    } 
    main section .infoPrincipal .subtittle{
        font-size: 18px;
        margin: 5px 0px;
    }
    main section .infoPrincipal .textito {
        font-size: 18px;
        margin-top: 0.3em;
        padding: 0;
    }
    .cartas .container-cards{
        width: 80%;
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        
    }
    .cards{
        flex-basis: 80%;         
    }
    section .cards{
        flex-basis: 80%;
        margin: 0px 30px;
    }
    .info .infoPrincipal .textito {

        padding-top: 0px;
       
    }
}
@media (min-width:900px) and (max-width:1200px) {
    *{
        margin: 0;
        padding: 0;
    }
    .info{
        height: 40vh;
    }
    main section .infoPrincipal .tittle h1{
        font-size:30px;        
    } 
    main section .infoPrincipal .subtittle{
        font-size: 22px;
    }
    main section .infoPrincipal .textito h3{
        font-size: 19px;        
    }
    .container-cards{
        margin: 5px 10px;
    }
    .card{
        padding: 5px;
    }
    
}
