html{
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: rgb(235, 233, 233);
}

body{
    margin: 0;
    padding: 0;
}

/* Generales */

main{
    
}
.container{
    
}
