/*Inicio diseños generales*/
html{
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: rgb(235, 233, 233);
}

body{
    margin: 0%;
}
/*Fin diseños generales*/

/* Comienzo del Header/Nav */

nav {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

nav a {
    text-decoration: none;
    color: #7223A5;
}

nav a:hover {
    text-decoration: underline 3px;
}

.logo {
    font-weight: bolder;
    font-size: 1.8em;
    color: #7223A5;
}

.submit {
    background-color: #7223A5;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;
    ;
    height: 30px;
    color: #fff;
}

.submit:hover {
    background-color: #166bda;
}
/* Fin del Header/Nav */


/*Inicio del Main/Section*/

h2{
    margin-top: 2em;
    font-size: 1.8em;
    color: #89868A;
    text-align: center;
}

.opciones-cursos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

svg{
    width: 400px;
}

.cursos-a{
    margin-right: 5px;
}

.cursos-b{
    margin-left: 5px;
}

/*Fin del Main/Section*/