@media(min-width: 280px)and (max-width:700px){
    *{
        box-sizing: border-box;
    }  
    main section .infoPrincipal{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 40vh;
    } 
    main section .infoPrincipal .tittle h1{
        font-size: 22px;
        margin: 15px 0px;
    } 
    main section .infoPrincipal .subtittle{
        font-size: 18px;
        margin: 0;
    }
    main section .infoPrincipal .textito h3{
        font-size: 16px;
        margin-top: 0.3em;
        padding: 0;      
    }
    .cartas .container-cards{
        width: 100%;
        margin: 0;
        display: inline;
    }
    section .cards{
        padding: 0px;
        flex-basis: 100%;
    }    
    .info .infoPrincipal .textito {

        padding-top: 0px;
       
    }
    
}

@media (min-width:600px) and (max-width:900px){
    main section .infoPrincipal{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 40vh;
    } 
    main section .infoPrincipal .tittle h1{
        font-size: 28px;    
    } 
    main section .infoPrincipal .subtittle{
        font-size: 20px;
        margin: 10px 0px;
    }
    main section .infoPrincipal .textito h3{
        font-size: 20px;
        margin-top: 0.3em;
        padding: 0;
           
    }
    .cartas .container-cards{
        width: 100%;
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{
        flex-basis: 80%;         
    }
    section .cards{
        flex-basis: 80%;
        margin: 0px 30px;
    }
    .info .infoPrincipal .textito {

        padding-top: 0px;
       
    }
}
