@media(min-width: 280px)and (max-width:600px){
    html,main,.cartas, .container-cards,.info{
        padding: 0;
        margin: 0;
    }
    header nav .logoImg{
        
    }
    
    .container-cards{
        display: flex;
        flex-flow: column wrap;
       /*  border: solid rgb(24, 20, 20) 3px; */
       padding: 3px;
       margin: 5px;
        
    }
    main .info{
        height: 50vh;
        position: relative;
    }
    section .infoPrincipal .subtittle{
        text-align: center;
        font-size: 16px;
        padding: 0;
        margin: 0;
        
    }
    .cards .infoPrincipal .subtittle{
        font-size: 12px;
        margin: 0px;
        padding: 2px;
        
    }
    .info .infoPrincipal .textito{
        font-size: 14px; 
        text-align: center;
        padding-top: 40px;
        
    }
    
    
}