/*Inicio diseños generales*/
* {
    box-sizing: border-box;
}

html {
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: rgb(235, 233, 233);
}

body {
    margin: 0%;
}

/*Fin diseños generales*/

.doble-imagen {
    background-image: url(../../IMG/SOBRE_NOSOTROS/laptop\ generica.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-siwi {
    height: 210px;
    width: 210px;
    border-radius: 50%;
}


h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(141, 137, 137);
}


.cont-target-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 100px;
}

.cont-target-top p{
    color: rgb(91, 88, 88);
}

.cont-target-bot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 50px;
}

.cont-target-bot{
    color: rgb(91, 88, 88);
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    
}

.nosotros {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

main p{
    text-align: center;
    
}

.argentina{
    height: 35px;
    width: 55px;
}

.tu {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.tu-imagen {
    margin-right: 10%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    left: 75px;
}

.imagen-texto {
    background-image: url(../../IMG/SOBRE_NOSOTROS/laptop\ generica-2.jpg);
    color: white;
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    text-indent: 10px;
}

.h3-blanco {
    font-size: 30px;
}

.imagen-texto p {
    font-size: 24px;
text-align: center;
}